body{
    background: linear-gradient(to top,  #4a6a29, #5597139c, #367e54);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#logo{
    justify-content: center;
   text-align: center;
}
#titulos{
    justify-content: center;
    text-align: center;
}
.imagenFondo{
    width: 100%;
    height: 450px;
    background-image: url('https://www.argentina.gob.ar/sites/default/files/rnec_bnitez_paisaje_ph_parquesnacionales.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
   
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.menu{
    
    align-items: center;
    justify-content: center;
}
#parrafo{

    margin-left: 8%;
    margin-right: 8%;
    border: solid 16px;
    border-color: #367e54b4;
    width: 84%;
    height: 190px;
    background-color:#367e54e1;
    align-items: center;
    justify-content: center;
    grid-area: parrafo;
}
ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline-block;
    width: 33%;
    position: relative;
    font-size: 14px;
}

ul ul{
    position: absolute;
    display: none;
    background-color: transparent;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}

li a{
    color: white;
    text-decoration: none;
}

nav{
    background-color: transparent;
    text-align: center;
}

ul li:hover{
    background-color: #4c88109c;
}
#video{
    justify-content: center;
    text-align: center;
    margin: 30px;
    grid-area: video;
}

.footer-contenedor{
    margin: 30px;
    background: linear-gradient(to top, #001a33, #003366);
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    grid-template-areas: 
    'parrafo parrafo parrafo'
    'video video video'
    'informacion informacion informacion'
    'ubicacion ubicacion ubicacion';
    color: white;
    padding: 20px;
    text-align: center;
}
#informacion{
    margin-left: 8%;
    margin-right: 8%;
    border: solid 16px;
    border-color: #367e54b4;
    width: 84%;
    height: 190px;
    background-color:#367e54e1;
    align-items: center;
    justify-content: center;
    grid-area: informacion;
}
#ubi{
    text-align: center;
    justify-content: center;
    grid-area: ubicacion;
}


#contacto{
    margin-left: 500px;
}
#contactarnos{
    margin-left: 450px;
}
#ubicacion{
    justify-content: center;
    text-align: center;

}
#redes{
    margin: 30px;
}
.social img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease; 
    margin: 20px;
    border-radius: 10px;
}

.social a:hover img {
    transform: scale(1.2);
}

.opciones a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1023px){
    #grid-container{
        grid-template-rows: 1fr 1fr 3fr 1fr ;
        grid-template-areas: 
            'parrafo parrafo parrafo'
            'video video video'
            'informacion informacion informacion'
            'ubicacion ubicacion ubicacion';
        background-color: blueviolet;
    }
}