body{
    background: linear-gradient(to top, #4a6a29, #59a30e, #eaef9d );
    font-weight: bold;
}

ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline-block;
    width: 33%;
    position: relative;
    font-size: 14px;
}

ul ul{
    position: absolute;
    display: none;
    background-color: #4a6a29;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}

li a{
    color: white;
    text-decoration: none;
}

nav{
    background-color: #4a6a29;
    text-align: center;
}

ul li:hover{
    background-color: #59a30e;
}
#titulo{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

#grid-container{
    display: grid;
    background-color: wheat;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'fotoPrinc fotoPrinc fotoPrinc fotoPrinc'
        'fotoPrinc fotoPrinc fotoPrinc fotoPrinc'
        'parraf parraf parraf parraf'
        'parraf parraf parraf parraf'
        'foto7 foto6 foto5 foto4'
        'foto1 foto2 foto2 foto3';
        background: linear-gradient(to top, #4a6a29, #59a30e, #eaef9d );

    height: 1100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0,3);
    padding: 20px;
}

.pon{

    grid-area: titulo;
    display: flex;
}

.parrafo{
    grid-area: parraf;
    border: black;
}

.fotoPrincipal{
    grid-area: fotoPrinc;
    text-align: center;
}

.foto1{
    grid-area: foto1;
    text-align: center;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0,3);

}

.foto2{
    grid-area: foto2;
    text-align: center;

}

.foto3{
    grid-area: foto3;
    text-align: center;

}
.foto4{
    grid-area: foto4;
    text-align: center;

}
.foto5{
    grid-area: foto5;
    text-align: center;

}
.foto6{
    
    grid-area: foto6;
    text-align: center;

}
.foto7{
    grid-area: foto7;
    text-align: center;

}
#ecorregión{
    width: 1000px;
    height: 185px;
    align-content: center;
    border-radius: 10px;
}
.tamaño{
    width: 250px;
    height: 190px;;
    border-radius: 6px;

}
#tamaño2{
    width: 90px;
    height: 100px;
    border-radius: 6px;
    margin-left: 3px;
    margin-right: 3px;
}
#tamaño3{
    width: 170px;
    height: 110px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    border: black;
}
#red{
    width: 50px;
    height: 50px;
}
.contenedor{
    width: 1200px;
    max-width: 100%;
    margin: 100px auto;
    margin-top: 2em;
    padding: 20px;
    display: grid;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}
.hijo{
    background-color: burlywood;
    padding: 22px;
    border: #eaef9d 1px solid;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}
.hijo:hover{
    color: white;   
}
.parte-1{
    background-color: #487e12;
    grid-column: 1/4;
    display: flex;

}
.parte-2{
    background-color: #487e12;
    grid-column: 1/4;
    display: flex;
}
.parte-3{
    background-color: #487e12;
    grid-column: 1/4;
    display: flex;
}
.parte-4{
    background-color: #487e12;
    grid-column: 1/4;
    display: flex;
}
.parte-5{
    background-color: #487e12;
    grid-column: 1/4;
    display: flex;
}
.parte-6{
    background-color: #487e12;
    grid-column: 1/4;
    display: flex;
}
#animal1{
    height: 170px;
    width: 150px;
    display: flex;
    justify-content: center;
    border: beige 1px solid;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}