body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to top, #4a6a29, #59a30e, #eaef9d );
    font-weight: bold;
    text-align: left;
}


ul{
    list-style: none;
    font-size: 0;
}

li{
    display: inline-block;
    width: 33%;
    position: relative;
    font-size: 14px;
}

ul ul{
    position: absolute;
    display: none;
    background-color: #4a6a29;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}

li a{
    color: white;
    text-decoration: none;
}

nav{
    background-color: #4a6a29;
    text-align: center;
}

ul li:hover{
    background-color: #59a30e;
}


h1, .titulo, h3 {
    color: #036831;
}

.texto {
    color: #000;
}

p {
    list-style-type: none;
    padding: 0;
}

.imagen {
    width: 1000px; /* Ajustar el ancho de las imágenes */
    height: auto; /* Mantener la proporción original */
    border: 2px solid #ddd; /* Agregar un borde */
    border-radius: 10px; /* Borde redondeado */
    justify-content: center;
}

.social img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease; 
    margin: 20px;
}

.social a:hover img {
    transform: scale(1.2);
}

.opciones a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
}

